USE [master]
GO
/****** Object:  Database [ThanhMyMilkTea]    Script Date: 8/1/2025 7:22:09 PM ******/
CREATE DATABASE [ThanhMyMilkTea]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThanhMyMilkTea', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ThanhMyMilkTea.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThanhMyMilkTea_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ThanhMyMilkTea_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThanhMyMilkTea].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThanhMyMilkTea]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSP]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSP](
	[MaDanhMuc] [nvarchar](50) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaKH] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThaiDonHang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[NgayDangKy] [date] NULL,
	[DiemTichLuy] [int] NULL,
	[TrangThai] [bit] NULL,
	[Username] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Luong] [decimal](18, 2) NULL,
	[NgayVaoLam] [date] NULL,
	[MaQL] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	[Username] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLy]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[MaQL] [nvarchar](50) NOT NULL,
	[TenQL] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [nvarchar](15) NULL,
	[TrangThai] [bit] NULL,
	[Username] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[MaDanhMuc] [nvarchar](50) NULL,
	[MaNCC] [nvarchar](50) NULL,
	[XuatXu] [nvarchar](100) NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/1/2025 7:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](20) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HD56381367', N'SP002', 1, CAST(38000.00 AS Decimal(18, 2)), CAST(38000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HD75103900', N'SP001', 1, CAST(35000.00 AS Decimal(18, 2)), CAST(35000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GhiChu]) VALUES (N'HD79535314', N'SP001', 2, CAST(35000.00 AS Decimal(18, 2)), CAST(70000.00 AS Decimal(18, 2)), NULL)
GO
INSERT [dbo].[DanhMucSP] ([MaDanhMuc], [TenDanhMuc], [MoTa], [TrangThai]) VALUES (N'DM001', N'Trà sữa Thanh My', N'Các loại trà sữa đặc trưng của Thanh My', 1)
INSERT [dbo].[DanhMucSP] ([MaDanhMuc], [TenDanhMuc], [MoTa], [TrangThai]) VALUES (N'DM002', N'Trà trái cây tươi', N'Trà pha với các loại trái cây tươi ngon', 1)
INSERT [dbo].[DanhMucSP] ([MaDanhMuc], [TenDanhMuc], [MoTa], [TrangThai]) VALUES (N'DM003', N'Cà phê Thanh My', N'Các loại cà phê và cà phê sữa đặc biệt', 1)
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien], [GiamGia], [ThanhTien], [HinhThucThanhToan], [TrangThai], [GhiChu], [TrangThaiDonHang]) VALUES (N'HD56381367', CAST(N'2025-07-31T17:46:55.640' AS DateTime), N'KH31457457', NULL, CAST(38000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(38000.00 AS Decimal(18, 2)), N'Tiền mặt', 1, NULL, N'Chờ xác nhận')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien], [GiamGia], [ThanhTien], [HinhThucThanhToan], [TrangThai], [GhiChu], [TrangThaiDonHang]) VALUES (N'HD75103900', CAST(N'2025-08-01T18:34:07.510' AS DateTime), N'KH31457457', NULL, CAST(35000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(35000.00 AS Decimal(18, 2)), N'Tiền mặt', 1, NULL, N'Chờ xác nhận')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien], [GiamGia], [ThanhTien], [HinhThucThanhToan], [TrangThai], [GhiChu], [TrangThaiDonHang]) VALUES (N'HD79535314', CAST(N'2025-07-31T16:34:37.953' AS DateTime), N'KH31457457', NULL, CAST(146000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(146000.00 AS Decimal(18, 2)), N'Tiền mặt', 1, N'oke', N'Đã giao')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT], [Email], [NgayDangKy], [DiemTichLuy], [TrangThai], [Username]) VALUES (N'KH31457457', N'thanh my', N'việt nam', N'090123457', N'thanhmy@gmail.com', CAST(N'2025-07-31' AS Date), 0, 1, N'thanhmy1')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (N'NCC001', N'Công ty Trà Thanh My', N'123 Nguyễn Huệ, TP.HCM', N'0281234567', N'info@trathanhmy.com', 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (N'NCC002', N'Công ty Sữa Tươi Đà Lạt', N'456 Lê Lợi, Đà Lạt', N'0263456789', N'contact@dalaitmilk.com', 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (N'NCC003', N'Công ty Nguyên liệu Thanh My', N'789 Võ Văn Tần, TP.HCM', N'0287654321', N'supply@thanhmy.com', 1)
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [DiaChi], [SDT], [Email], [ChucVu], [Luong], [NgayVaoLam], [MaQL], [TrangThai], [Username]) VALUES (N'NV001', N'Thanh my 1', N'234 Lý Tự Trọng, TP.HCM', N'0912345678', N'thanhmy1@gmail.com', N'Thu ngân', CAST(8500000.00 AS Decimal(18, 2)), CAST(N'2024-01-15' AS Date), N'QL001', 1, N'nv001')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [DiaChi], [SDT], [Email], [ChucVu], [Luong], [NgayVaoLam], [MaQL], [TrangThai], [Username]) VALUES (N'NV002', N'Thanh my 2', N'345 Hai Bà Trưng, Hà Nội', N'0923456789', N'thanhmy2@gmail.com', N'Pha chế', CAST(8000000.00 AS Decimal(18, 2)), CAST(N'2024-02-01' AS Date), N'QL001', 1, N'nv002')
GO
INSERT [dbo].[QuanLy] ([MaQL], [TenQL], [DiaChi], [SDT], [TrangThai], [Username]) VALUES (N'QL001', N'Lê Thị Thanh My', N'123 Nguyễn Huệ, TP.HCM', N'0901234567', 1, N'thanhmy')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaDanhMuc], [MaNCC], [XuatXu], [Gia], [SoLuongTon], [DonViTinh], [MoTa], [HinhAnh], [TrangThai]) VALUES (N'SP001', N'Trà sữa Thanh My đặc biệt', N'DM001', N'NCC001', N'Việt Nam', CAST(35000.00 AS Decimal(18, 2)), 100, N'Ly', N'Trà sữa đặc trưng của Thanh My', N'1.jpg', 1)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaDanhMuc], [MaNCC], [XuatXu], [Gia], [SoLuongTon], [DonViTinh], [MoTa], [HinhAnh], [TrangThai]) VALUES (N'SP002', N'Trà sữa socola Thanh My', N'DM001', N'NCC002', N'Việt Nam', CAST(38000.00 AS Decimal(18, 2)), 80, N'Ly', N'Trà sữa socola thơm ngon', N'2.jpg', 1)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaDanhMuc], [MaNCC], [XuatXu], [Gia], [SoLuongTon], [DonViTinh], [MoTa], [HinhAnh], [TrangThai]) VALUES (N'SP003', N'Trà sữa matcha Thanh My', N'DM001', N'NCC001', N'Nhật Bản', CAST(42000.00 AS Decimal(18, 2)), 60, N'Ly', N'Trà sữa matcha cao cấp', N'3.jpg', 1)
GO
INSERT [dbo].[TaiKhoan] ([Username], [Password], [LoaiTaiKhoan], [TrangThai], [NgayTao]) VALUES (N'nv001', N'nv123', N'NHANVIEN', 1, CAST(N'2025-07-30T16:10:10.970' AS DateTime))
INSERT [dbo].[TaiKhoan] ([Username], [Password], [LoaiTaiKhoan], [TrangThai], [NgayTao]) VALUES (N'nv002', N'nv456', N'NHANVIEN', 1, CAST(N'2025-07-30T16:10:10.970' AS DateTime))
INSERT [dbo].[TaiKhoan] ([Username], [Password], [LoaiTaiKhoan], [TrangThai], [NgayTao]) VALUES (N'thanhmy', N'tm123', N'ADMIN', 1, CAST(N'2025-07-30T16:10:10.970' AS DateTime))
GO
ALTER TABLE [dbo].[DanhMucSP] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Tiền mặt') FOR [HinhThucThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThaiDonHang]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[QuanLy] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (N'Ly') FOR [DonViTinh]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('KHACHHANG') FOR [LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[QuanLy]  WITH CHECK ADD  CONSTRAINT [FK_QuanLy_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[QuanLy] CHECK CONSTRAINT [FK_QuanLy_TaiKhoan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMucSP] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucSP] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMucSP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
USE [master]
GO
